<template>
  <nav class="headContainer">
    <div class="logo"><h2>Vue Project</h2></div>
    <div class="menu">
      <router-link class="link" tag="a" to="/">Home</router-link>
      <router-link class="link" tag="a" to="/Posts">Posts</router-link>
      <router-link class="link" tag="a" to="/Contact">Contact</router-link>
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style>
.headContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 50px 0;
  background: #def0f7;
}
.headContainer .logo {
  font-size: 36px;
  color: #023047;
}
.link {
  text-decoration: none;
  color: #023047;
  margin-left: 30px;
  font-size: 26px;
}
</style>
