<template>
  <div class="container">
    <div class="loading" v-if="loading">
      Loading.....
    </div>
    <div class="postContainer">
      <div v-for="post in posts" :key="post.id" class="posts">
        <div class="post">
          <span>{{ post.title }}</span>
          <span>{{ post.body }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getPost } from "../services/axios";

export default {
  data() {
    return {
      posts: [],
      loading: false,
    };
  },
  mounted() {
    this.loading = true;
    getPost.get(`posts`).then(
      (res) => {
        this.loading = false;
        this.posts = res.data;
      }
     /* ,
      (error) => {
        console.log(error);
        this.loading = false;
      }*/
    ).catch(error=>{
        console.log(error);
        this.loading = false;
    })
  },
};
</script>

<style>
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  font-size: 60px;
}
.postContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.posts {
  margin: 30px;
}
.posts .post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #023047;
  width: 350px;
  height: 200px;
}
.posts .post span {
  text-align: justify;
  margin: 10px 30px;
}
</style>
